---
layout: default
---

<div class="home">

  <h1 class="page-heading">Objave</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d. %m. %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
        </h2>
        {% if post.excerpt %}
          {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">naroči se <a href="{{ "/feed.xml" | prepend: site.baseurl }}">na RSS</a></p>

</div>
