---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <a class="FlattrButton"
      title="{{page.title}}"
      data-flattr-tags="{{page.tags}}"
      data-flattr-category="text"
      data-flattr-language="{{page.lang}}"
      href="{{site.url}}{{page.url}}">
      <img src="https://button.flattr.com/flattr-badge-large.png" alt="flattr.com" </a>
    </a>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  <div>
    <h2>Automatic page url based menu</h2>
    {% include automenu url='/' sort="url" reverse=false all=false %}
  </div>

</article>
